@import "~/src/styles/theme";

.container {
  width: 120px;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.listWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $color_lightgreen;
  width: 100%;
  border: 0;
  padding: 12px 8px;
  color: $color_black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.button:hover,.button:active,.button:focus {
  background: $color_darkgreen;
}