@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap");

$color_green: #4caf50;
$color_lightgreen: #7cbe7e;
$color_darkgreen: #2e8631;
$color_lightred: #d53c3c;
$color_red: #be1616;

$color_white: #fff;
$color_lightgrey: #ddd;
$color_grey: #bbb;
$color_grey: #999;
$color_txt: #333;
$color_black: #000;
