$color_green: #4CAF50;
$color_lightgreen: #7cbe7e;
$color_darkgreen: #2e8631;
$color_red: #be1a1a;
$color_lightgrey: #ccc;
$color_grey: #666;
$color_txt: #333;
$color_black: #000;

$header_padding: 5px;