@import "~/src/styles/theme";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login_page {
  width: 360px;
  padding: 180px 0 0;
  margin: auto;
  margin-bottom: 100px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  & input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  & .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: $color_green;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background: $color_green;
    }
  }

  & .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;

    & a {
      color: $color_green;
      text-decoration: none;
    }
  }

  & .register_form {
    display: none;
  }
}

.caption {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: $color_txt;
}

.descr {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
  color: $color_txt;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labeltext {
  font-weight: 600;
  color: $color_txt;
}

body {
  background: #eee;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.error_caption {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: $color_red;
}