@import "~/src/styles/theme";

.wrapper {
  min-height: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.caption {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 25px;
  color: $color_black;
  align-self: flex-start;
  margin-bottom: 32px;
}

.contacts_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-top: 1px solid $color_grey;
  border-bottom: 1px solid $color_grey;

  & > div {
    margin-bottom: 10px;
    width: 100%;
  }

  & .add_contact {
    position: relative;
    align-self: center;
    padding: 8px;
    margin: 8px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $color_green;
    border: 1px solid $color_green;
  }
}

.confirm_button {
  margin-bottom: 5px;
  width: 130px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: $color_green;
  border: none;
}

.cancel_button {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  color: $color_black;
}
